body{
    background-color: burlywood;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}

h1{
    padding: 1em;
    margin: auto;
    color: black;
    font-size: xx-large;
    font-family: Impact;

}
p{
    padding: 1em;
    margin: auto;
    color: blue;
}
.imagen{
    height: 900px;
    background-image: url("/static/mac.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    color: white;
    
}
form{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: 15em;

}
.log{
    padding: 1em;
    margin:1em ;
    color: black;
    box-shadow:10px 10px 10px black ;
}
input{
    background-color: aliceblue;
    box-shadow: 10px 10px 10px black;
    padding: 1em;
    margin: 1em;
    font-size: large;
    font-family: Impact;
    
}
label{
    padding: 1em;
    margin: auto;
    color: black;
    font-size: xx-large;
    font-family: Impact;

}
.error404{
    height: 630px;
    background-image: url("/static/homer.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    color: white;
}
a{
    background-color: white;
    font-family: Impact;
    font-size: large;
}
#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}
ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav {
    width:400px; /*Le establecemos un ancho*/
    margin:0 auto; /*Centramos automaticamente*/
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
    